body{
    background-color: cornflowerblue;
    
}

div{
    background-color: red;
    width: 50%;
    border: 1px solid black;
    margin: 10px auto;
}

#box1{
    background-color: coral;
    width: 70%;
}

#box3{
    background-color: darkseagreen;
    width: 25%;
}

#box5{
    background-color: brown;
}

.box2{
    background-color: darkslateblue;
}

.box4{
    background-color: beige;
}

.box3-image{
    width: 100%;
}