body{
    background-color: #7C77B9;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1{
    background-color: black;
    color: brown;
    font-size: 60px;
    border: 10px solid red;
    border-radius: 50px;
    text-align: center;
}

h2{
    color: blue;
}

p{
    text-align: center;
}

ol{
    list-style-type: none;
}

ul{
    list-style-type: none;
}

/* 
    class = .
    id = # 
*/

#mainHeading{
    color: white;
}

li{
    color: white;
}

.list-item-1{
    color: black;
}

.list-item-2{
    color: red;
}

.list-item-3{
    color: yellow;
}


#nav-elements{
    display: block;
    padding: 15px 10px;
    background-color: blue;
    border-right: 1px solid white;
}

#navbar{
    display: flex;

}

a{
    color: white;
    text-decoration: none;
}

#nav-elements:hover{
    background-color: orangered;
}

#aboutme-main{
    color: white;
}

div{
    width: 390px;
    border: 1px solid black;
}

#aboutme-main p{
    border: 1px solid black;
    text-align: left;
}

@media only screen and (max-width: 420px) {
    p{
        color: white;
        font-size: 48px;
        text-align: left;
        width: 100%;

    }
    main{

        width: 100%;
    }

    img{
        width: 100%;
    }

    #navbar{
        display: none;
    }

    ol li{
        font-size: 24px;
        list-style-type: lower-roman;
        padding: 5px;
    }

    main h2{
        font-size: 48px;
        width: 100%;
    }

    main ul{
        font-size: 24px;
    }
}

@media only screen and (max-width: 768px) {
    p{
        color: white;
        font-size: 48px;
        text-align: left;
        width: 100%;

    }
    main{
        width: 100%;
    }

    img{
        width: 100%;
    }
}